html, body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
  color: #A0694b;
  background-color: #A0694b;
}

a, a:hover {
	color: inherit;
}

.boxed {
  border: 5px solid yellow;
}

img {
	margin: auto auto;
}

h1{
  /*color: #A9A9A9;*/
  color: #F1BFDC;
  text-align: center;
}

h4{
  color: #A0694b;
  text-align: center;
}



p{
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}

section {
    padding-top: 60px;
    margin-bottom: 20px;
}

a:link {
  color: #F1BFDC;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: orangered;
  background-color: transparent;
  text-decoration: underline;
}

.h1-orange {
  color: #FF5733;
  text-align: center;
  border: 10px solid yellow;
}
.bigfont{
  font-size:30px;
  font-weight:bold;
}

.description{
  text-align: left;
}

.auditions{
  text-align:center;
  margin-bottom: 60px;
}

.centerthis{
  text-align:center;
  max-width:80%;
  position:relative;
  top: 50%;
  left: 10%;
}

.centerimg{
  text-align:center;
  max-width:80%;
  position:relative;
  top: 50%;

}

@media (max-width: 768px) {
    .navbar .navbar-collapse {
        text-align: center;
        border: #000000;
    }
}

.pad-section {
	margin: 30px auto;
}

.text-section-header {
  text-align: left;
  color: "#ffffff";
}


/* uncomment when adding new group pic */
#home {
  background: url(../img/group_pics/g23-24.JPG);
    background-size: cover;
    max-width:100%;
    margin-top:70px;
    height: 100%;
    background-position: center;

  
}

#container-fluid {
  background-color: #A0694b;
  color: #A0694b;
}

.picEx {
  position: absolute;
  left: 100px;
  top: 100px;
  border: 1px solid black;
  z-index: 1;
}

.container{
  position: center;
}
.container > img{
  position: absolute;
  max-width:100%;
  height:650px;
  top:0;
  left:0;
  margin-top:70px;
}
.container > img:first-child{
   /*background: url(../img/group_pics/g9.jpg);*/
  /*border-top: 30px solid #ffffff;*/
  /*border-bottom: 30px solid #ffffff;*/
  /*#021a40*/
  background-size: cover;
  max-width:100%;
  margin-top:70px;
  height:650px;
  /*height: 100%;*/
  background-position: center;
  z-index:2;
}

/* TEST GRID */
#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:10px 0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:20px;
    font-weight:bold;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}



#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #A95c3c no-repeat center 60%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

/* should be 5, 3, then 2 */
@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 900px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

/* for future fb linking */
/*
.fb {
	  position:absolute;
	  top: 85%;
	  right: 8%;
	  z-index: 3;
	  width: 8%;
	}
 */

footer{
  background-color: #555555;
  height:100px;
  width: 100%;
  color: #D3D3D3;
}

.social-media-icons{
  list-style-type: none;
}

.social-media-icons li{
  display: inline;
  padding:15px;
}

.social-media-icons i:hover{
	transform: scale(1.1);
}

.social-media-icons a:hover{
	text-decoration: none;
}

.inner{
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
  padding-top: 30px;
}

.quote{
	font-size:18px;
	color: white;
	text-transform: none;
  font-weight: 700;
}

.content {
    width: 100%;
    border: 4px solid red;
    padding: 20px;
    overflow: hidden;
    position: relative;

}

.left {
    
}

.right {
  margin-left: 15px;
  height: 200px;
  width: 200px;
  float: right;
}

.content img {
    margin-right: 15px;
    height: 200px;
    width: 200px;
    float: left;
}

.contentA {
  width: 100%;
    border: 4px solid red;
    padding: 20px;
    overflow: hidden;
    position: relative;
}


.contentA img {
    margin-right: 15px;
    height: 200px;
    width: 200px;
    float: right;
}



