html, body {
	height: 100%;
	width: 100%;
	font-family: "Century Gothic", sans-serif;
}

a, a:hover {
	color: inherit;
}

img {
	margin: auto auto;
}

@media (max-width: 768px) {
    .navbar .nav-pills {
		display: inline-block;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.pad-section {
	margin: 70px auto;
}

/* Panel Section */
.panel {
	opacity: 0.95;
	margin: 200px auto;
}

.panel-body {
	margin: 40px auto;
}

/* Home Page */
#home {
	background: url(images/backgrounds/1.jpg) no-repeat center center fixed;
	background-position: 0px -100px;
	display: table;
	height: 85%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}

/* About Page */
#about img {
	margin: 40px 0;
}

/* Members Page */
#members {
	background: url(images/backgrounds/2.jpg) no-repeat center center fixed;
	background-position: 0px 80px;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}

/* Media */
#media{
	background: url(images/backgrounds/3.jpg) no-repeat center center fixed;
	background-position: 0px 60px;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	margin: 20px 0;
}