html, body {
	height: 100%;
	width: 100%;
	font-family: "Century Gothic", sans-serif;
}

.pad-section {
	padding: 70px 0;
	margin: 0 auto;
}

/* CSS for smooth scrolling */
@media (max-width: 768px) {
    .navbar .nav-pills {
		display: inline-block;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

img {
	margin: auto auto;
	text-align: center;
	vertical-align:middle;
	padding: 20px 0;
}

/* Home Page */
#home {
	background: url(images/backgrounds/1.jpg) no-repeat center center fixed;
	display: table;
	height: 85%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size:cover;
}

/* Members Page */
#members {
	background: url(images/backgrounds/2.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size:cover;
}

/* Panel Section */
.panel {
	opacity: 0.95;
	margin: 200px auto;
}

.panel-body {
	margin: 40px auto;
}

/* Media */
#media{
	background: url(images/backgrounds/3.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}

#media .panel {
	margin: 200px 50px 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	padding: 20px 0;
}